/*
 * TODO
 * the positioning of the meta information for each day is
 * quite badly done, and mostly a hack.
 *
 * The individual events overlap way to much. But I do think
 * that has to be solved in back-end.
 *
 * The number of displayed days is hard coded, and can only be
 * changed by adading and removing days in the HTML. Some for of
 * media query or scroll bar would be better.
 */

body {
	/* This is for the day meta information */
	padding-top: 50px;
}

#gen-time {
	position: fixed;
	left: 1em;
	bottom: 1em;
	color: grey;
}

#goto-today {
	position: fixed;
	right: 1em;
	bottom: 1em;
}

.calendar {
	height: calc(90vh - 50px);

	/* This is relative for the .clock */
	position: relative;
}

/*
 * This takes any number  of days without problemb
 */
.days {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
}

/*
 * This makes the borders of the object be part of the size.
 * Making placing it on the correct line much simpler.
 */
.clock, .event {
	position: absolute;
	box-sizing: border-box;
	margin: 0;
	display: block;
}

.clock {
	color: gray;
	border-top: 1px dotted gray;
	width: calc(100% + 5ex);
}

.days > :first-child {
	margin-left: 6ex;
}

.day {
	position: relative;

	height: 100%;
	width: 100%;
        min-width: 300px;

	margin-left: 0.5em;
	border: 1px solid black;

        /* I want this to hide those parts of the events that are
           longer than their day field. It does that, but it also
           hides the date for each day */
        /* overflow: hidden; */
}

.meta {
	position: absolute;
	height: 50px;
	top: -50px;

	width: 100%;

}

.meta .dayname {
	font-size: 2em;
}

.event {
	/* This is to be overwritten by each individual element */
	width: 100%;

	border-style: solid;
	border-width: 2px;

        z-index: 0;
}

.selected {
    width: 100% !important;
    left: 0 !important;
    z-index: 1 !important;

    margin-top: 3mm;
    margin-left: 3mm;
}

/*
 * There probably is a nicer way to have these color selectors.
 * Probably a small script which generates the file.
 *
 * The reason for this being here instead of inside the HTML,
 * as it was before, is due to me wanting to toggle it from
 * the javascript.
 */

.red {
    background-color: rgba(255, 0, 0, 0.5);
    border-color:     rgba(255, 0, 0, 1);
}
.red.selected {
    background-color: rgba(255, 0, 0, 0.9);
    border-color:     rgba(255, 0, 0, 1);
}
.green {
    background-color: rgba(0, 255, 0, 0.5);
    border-color:     rgba(0, 255, 0, 1);
}
.green.selected {
    background-color: rgba(0, 255, 0, 0.9);
    border-color:     rgba(0, 255, 0, 1);
}
.blue {
    background-color: rgba(0, 0, 255, 0.5);
    border-color:     rgba(0, 0, 255, 1);
}    
.blue.selected {
    background-color: rgba(0, 0, 255, 0.9);
    border-color:     rgba(0, 0, 255, 1);
}
.purple {
    background-color: rgba(255, 0, 255, 0.5);
    border-color:     rgba(255, 0, 255, 1);
}
.purple.selected {
    background-color: rgba(255, 0, 255, 0.9);
    border-color:     rgba(255, 0, 255, 1);
}

#clock-0  { top: calc(100%/24 *  0); }
#clock-2  { top: calc(100%/24 *  2); }
#clock-4  { top: calc(100%/24 *  4); }
#clock-6  { top: calc(100%/24 *  6); }
#clock-8  { top: calc(100%/24 *  8); }
#clock-10 { top: calc(100%/24 * 10); }
#clock-12 { top: calc(100%/24 * 12); }
#clock-14 { top: calc(100%/24 * 14); }
#clock-16 { top: calc(100%/24 * 16); }
#clock-18 { top: calc(100%/24 * 18); }
#clock-20 { top: calc(100%/24 * 20); }
#clock-22 { top: calc(100%/24 * 22); }
#clock-24 { top: calc(100%/24 * 24); }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Everything below here is assumed to be auto generated
 * from the backend.
 * * * * * * * * * * * * * * * * * * * * * * * * */


#ev1 {
	border-color: blue;
	background-color: rgba(0,0,255,0.5);
	top: calc(100%/24 * 8);
	height: calc(100%/24 * 2);
	max-height: calc(100%/24 * 2);
}

#ev2 {
	border-color: red;
	background-color: rgba(255,0,0,0.5);
	top: calc(100%/24 * 12.25);
	height: calc(100%/24 * 0.75);
}

#ev3 {
	border-color: green;
	background-color: rgba(0,255,0,0.5);
	top: calc(100%/24 * 19.5);
	height: calc(100%/24 * 4.5);
}

#ev4 {
	border-color: purple;
	background-color: rgba(255,0,255,0.5);
	/*
	width: 50%;
	left: 50%;
	*/
	top: calc(100%/24 * 9);
	height: calc(100%/24 * 12);
}

#ev5 {
	border-color: blue;
	background-color: rgba(0,0,255,0.5);
	top: calc(100%/24 * 10);
	height: calc(100%/24 * 2);
}
